body{
    background-color: white;

}
.container-1 {
    text-align: center;
    padding-top: 10px;
}
.flex-container-visualizations{
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}

a:active{
    font-weight: bold;
    background-color: yellow;
}