body{
    background-color: white;

}
.container-1 {
    text-align: center;
    padding-top: 10px;
}
.flex-container-visualizations{
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}
.flex-outer{
    list-style-type : none;
    padding : 0px 16px;
    max-width : 800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

.flex-inner{
    align-items: center;
    list-style-type : none;
    padding : 0px 16px;
    max-width : 800px;
    display: flex;
}

a:active{
    font-weight: bold;
    background-color: yellow;
}